---
import "../styles/global.css";
import "../assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/1-Header.astro";
import Home from "../components/2-Home.astro";
import About from "../components/3-About.astro";
import Services from "../components/4-Services.astro";
import Works from "../components/5-Works.astro";
import Footer from "../components/6-Footer.astro";
// Importa también los componentes de Works y Contact si los tienes
---

<Layout>
	<header>
		<Header />
	</header>
	<main>
		<section id="home">
			<Home/>
		</section>
		<section id="about">
			<About/>
		</section>
		<section id="services">
			<Services />
		</section>
		<section id="works">
			<Works />
		</section>				
	</main>

	<footer>
		<Footer />
	</footer>
</Layout>
