---
import "../styles/global.css";
import "../assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/1-Header.astro";
import Home from "../components/2-Home.astro";
import About from "../components/3-About.astro";
import Services from "../components/4-Services.astro";
// Importa también los componentes de Works y Contact si los tienes
---

<Layout>
	<header>
		<Header />
	</header>
	<main>
		<section id="home">
			<Home/>
		</section>
		<section id="about">
			<About/>
		</section>
		<section id="services">
			<Services />
		</section>
		<!-- Añade estas secciones si las tienes -->
		<section id="works">
			<!-- Tu componente Works -->
		</section>
		<section id="contact">
			<!-- Tu componente Contact -->
		</section>				
	</main>

	<footer>
		<!-- Tu footer -->
	</footer>
</Layout>
