<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="/src/assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Sebastian - Portafolio</title>
	</head>
	<body class="bg-[#0e0e0e] font-quicksand">
		<slot />
	</body>
</html>
